@{
    ViewBag.Title = "Dao Proposals";
}

@using Nethereum.Web.Sample.Controllers
@model IEnumerable<Nethereum.Web.Sample.Model.Dao.Proposal>

<table  class = "table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Creator)</th>
        <th>@Html.DisplayNameFor(m => m.Description)</th>
        <th>@Html.DisplayNameFor(m => m.Recipient)</th>
    </tr>
    <tbody>
        @foreach (var proposal in Model)
        {
            <tr>
                <td>@proposal.Creator</td>
                <td>@proposal.Description</td>
                <td>@proposal.Recipient</td>
            </tr>
        }
    </tbody>
</table>

