@model Nethereum.Web.Sample.ViewModels.ProposalViewModel

@{
    ViewBag.Title = "Proposal Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dao Proposal Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalPassed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalPassed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewCurator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewCurator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Dao Proposals", "DaoProposals")
</p>
